
<div class="form-page container">

<%= simple_form_for(@user, method: :patch, url: employee_path) do |f| %>

  <div class="form-block">
    <div class="block-header">
      <h2>Edit the profile of <%= @user.first_name %> </h2>
    </div>
      <div class="d-flex">
      <div class="inside-block ">
      <img src=<%=@user.photo%> width="100" height="100" >
        <span class="labeltext" ><%= f.input :photo %></span>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
      <div class="makeitblue">
        <div class="inside-block">
          <h6>Personal details</h6>
          <span class="labeltext" ><%= f.input :first_name, wrapper_html: {class: 'span6', style:'width: 400px'}, required: true, autofocus: true %></span>
          <span class="labeltext" ><%= f.input :last_name, wrapper_html: {class: 'span6', style:'width: 400px'}, required: true, autofocus: true %></span>
          <span class="labeltext" ><%= f.input :email, wrapper_html: {class: 'span6', style:'width: 400px'}, required: true, autofocus: true%></span>
          <span class="labeltext" ><%= f.input :phone_number %></span>
          <span class="labeltext" ><%= f.input :birthday %></span>
          <%= f.submit 'save changes', class: "btn btn-v1" %>
        </div>
      </div>

      <div>
        <div class="inside-block">
          <h6>Department & skills</h6>
          <span class="labeltext" ><%= f.input :department_id, collection: @departments, selected: @department&.id, wrapper_html: {class: 'span6', style:'width: 300px'}, required: true, autofocus: true %></span>
          <span class="labeltext" ><%= f.input :skills, as: :check_boxes, collection: @all_users_skills_checkbox, wrapper: :vertical_collection_inline,  label: false %></span>
        </div>
      </div>

    </div>
  </div>
</div>
<% end %>















