<div class="content-container">
  <div class="button d-flex justify-content-end">
    <%= link_to "Add employee", new_employee_path, class: "btn-v1"%>
  </div>
  <div class="table-wrapper">
    <table class="employee-table">
      <tr class ="table-head">
        <th id="th-0"></th>
        <th id="th-1">NAME</th>
        <th id="th-2">LAST NAME</th>
        <th id="th-3">DEPARTMENT</th>
        <th id="th-4">SKILLS</th>
        <th id="th-5"></th>
      </tr>
    </table>
    <table class="employee-table table-body">
      <% @users.each do |user| %>
      <tr>
        <% if user.photo.file != nil %>
         <td id ="td-0" data-toggle="modal" data-target= "<%="#userModal#{user.id}"%>"><%=(cl_image_tag user.photo, height: 50, width: 50, crop: :fill, background: '#F4F8FB', radius: :max, border:  "4px_solid_grey")%></td>
        <% else %>
         <td id ="td-0" data-toggle="modal" data-target= "<%="#userModal#{user.id}"%>"><%=(cl_image_tag "empty-avatar.png", width: 50, height: 50, crop: :fill, radius: :max, border:  "4px_solid_grey")%></td>
        <% end %>

        <td id="td-1"><%= user.first_name %></td>
        <td id="td-2"><%= user.last_name %></td>
        <td id="td-3"><%= user.departments.map(&:name).join(", ") %></td>

        <% if user.skills != nil %>
          <td id="td-4"><% user.skills.each do |skill| %>
            <span class="btn-v2"><%= skill%></span>
            <% end %>
          </td>
        <% else %>
          <td id="td-4"></td>
        <% end %>
        <td id="td-5"><%= link_to employee_path(user) do %>
          <i class="fas fa-search"></i>
          <% end %>
        </td>
      </tr>
      <div class="modal fade" id="<%="userModal#{user.id}"%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
          <div class="modal-content" style="border-radius: 10px">
             <div class= "card-container">
                <div class="upper-container">
                  <div class="text-right">
                    <button type="button" class="btn-v4" data-dismiss="modal"><i class="fas fa-times"></i></button>
                  </div>
                  <% if user.photo.file != nil %>
                    <img src=<%=user.photo %> alt="employee" class="image-container">
                  <% else %>
                    <img src="empty-avatar.png" alt="" class="image-container">
                  <% end %>
                </div>
                <div class="lower-container text-center">
                  <h3><%= user.first_name %> <%= user.last_name %></h3>
                  <div class="employee-info text-left">
                    <p>Phone: <span class="info"><%= user.phone_number %></span></p>
                    <p>Email: <span class="info"><%= user.email %> </span></p>
                    <p>Birthday: <span class="info"><%= user.birthday %></span></p>
                    <p>Skills: </p>
                      <%if user.skills != nil %>
                        <% user.skills.each do|skill| %>
                        <span class="btn-v2"><%= skill %></span>
                      <% end %>

                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </table>
 </div>
  <div class="department-wrapper">
    <p >DEPARTMENTS:</p>
    <div class="all-departments">
      <% @departments.each do |department| %>
    <div class="department">
      <%= department.name %>
    </div>
    <% end %>
  </div>
  <div class="btn-v3 plus">
    <button type="button" class="btn-v1" data-toggle="modal" data-target="#exampleModal">+</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-content">
            <%=render "employees/form" ,resource:@department%>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



