<div class="content-container">
  <div class="table-wrapper">


  <table class="employee-table">
    <tr class ="table-head">
      <th id="th-1">NAME</th>
      <th id="th-2">LAST NAME</th>
      <th id="th-3">DEPARTMENT</th>
      <th id="th-4">SKILLS</th>
      <th id="th-5">#</th>

    </tr>
  </table>
  <table class="employee-table table-body">
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to (cl_image_tag user.photo, height: 30, width: 30, crop: :fill) , employee_path(user) %><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td id="td-department"><%= user.departments.map(&:name).join(", ") %></td>
      <% if user.skills != nil %>
        <td><% user.skills.each do |skill| %>
          <span class="btn-v2"><%= skill%></span>
          <% end %>
        </td>
      <% else %>
        <td></td>
      <% end %>

       <td><%= link_to employee_path(user) do %>
         <i class="fas fa-search"></i>
         <% end %>
       </td>

    </tr>
    <% end %>
  </table>
 </div>
  <div class="button d-flex">
    <%= link_to "Add employee", new_employee_path, class: "btn-v1"%>
  </div>
</div>



<%= link_to "New Employee", new_employee_path %>
