
<table>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Skills</th>
    <th>Phone_number</th>
    <th>Email</th>
    <th>Birthday</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.departments.map(&:name).join(", ") %></td>
      <td><% user.skills.each do |skill| %>
      <%= skill %>
      <% end %>
    </td>
    <td><%= user.phone_number %></td>
    <td><%= user.email %></td>
    <td><%= user.birthday %></td>
     <td><%= link_to "see", employee_path(user) %></td>

  </tr>
  <% end %>
</table>



<%= link_to "New Employee", new_employee_path %>
