<div class="calendar-wrapper  overflow-scroll">
  <% @days.each do |day| %>
    <div class="calendar-overview-container" id="scroll-<%= day.day %>">

    <div class="time-box">
      <div class="date-top"><%= day.strftime("%b %d") %></div>
      <% @hours.each do |hour| %>
      <p><%= hour %></p>
      <% end %>
    </div>
    <div class="planner-wrapper">
      <% @departments.each do |department| %>
      <div class="department-info">
        <div class="department-title">
          <h2>
            <%= department.name.upcase %>
          </h2>
        </div>
        <div class="item">
          <% (1..8).each do |grid_line| %>
            <div class="grid-line-box"></div>
          <% end %>
            <% department.shifts.where('start_time BETWEEN ? AND ?', day.beginning_of_day, day.end_of_day).all.each_with_index do |shift, index| %>

            <% balloon_text = "Start-Time: #{shift.start_time.hour}:#{shift.start_time.min} \n | End-Time:  #{shift.end_time.hour}:#{shift.end_time.min} \n |  Date:  #{shift.end_time.day}.#{shift.end_time.month}." %>
            <div class="shift" style="height:<%=((((shift.end_time.hour * 60) + shift.end_time.min) - ((shift.start_time.hour * 60) + shift.start_time.min))* 0.0685)%>%; top:<%= (((shift.start_time.hour * 60) + shift.start_time.min) * 0.0685)%>%; left: <%= index * 90 %>px;background-color: <%= department.color %>">
              <%= link_to edit_shift_path(shift), class: "shift-link", "data-balloon-pos": "up", "aria-label": balloon_text do %>
              <% if shift.user != nil %>
                <% if shift.user.photo.file != nil %>
                <div class="photo">
                  <%=(cl_image_tag shift.user.photo, height: 60, width: 60, crop: :fill, background: "#{department.color}" , radius: :max, border: { width: 4, color: "#{department.color}" })%>
                </div>
              <% else %>
                <div class="photo">
                  <%=(cl_image_tag "empty-avatar.png", width: 60, height: 60, crop: :fill, background: "#{department.color}", radius: :max, border:  { width: 4, color:"#{department.color}"  })%>
                </div>
              <% end %>
                <% if shift.skills != nil %>
                <% shift.skills.each do |skill| %>
                <% if skill != "" %>
                <p class="btn-v2-s"><%= skill%></p>
                <% end %>
                <% end %>
                <% end %>
              <% end %>

            <% end %>
            </div>
            <% end %>
        </div>
      </div>
      <% end %>
    </div>
    </div>

  <% end %>
</div>

