<div class="text-center">
  <h1>
    Scheduling
  </h1>
</div>

<div class="calendar-container">
  <div class="calendar-grid">

  </div>
  <div class="calendar-form">
    <%= simple_form_for [@shift] do |f| %>
        <%= f.input :start_time%>
        <%= f.input :end_time, class: "input-field" %>
        <%= f.input :department_id, collection: Department.all, selected: 1 %>
      <%= f.submit "ADD SHIFT", class: "btn-v1" %>
    <% end %>
  </div>
  <div class="calendar-overview">
    <%= render partial: "calendar_overview" %>
  </div>
  <div class="calendar-availability">

  </div>
</div>
