<div class="content-container">
  <div class="shift-wrapper">
    <%= simple_form_for [@shift] do |f| %>

    <div class="d-flex align-items-center">
      <div class="input-field">
        <%= f.input :start_time %>
      </div>
      <div class="input-field">
        <%= f.input :end_time, class: "input-field" %>
      </div>
      <div class="input-field">
        <%= f.input :department_id, collection: Department.all %>
      </div>
  <%#= f.input :user, as: :radio_buttons, collection:  %>

   <%#= f.input :skill, as: :check_boxes, collection: User::SKILL, wrapper: :vertical_collection_inline %>
      <%= f.submit "ADD SHIFT", class: "btn-v1" %>
    </div>
    <% end %>
  </div>

  <div class="planner-wrapper">
    <div class="item">
    </div>
    <div class="item">
    </div>
    <div class="item">
    </div>
    <div class="item">
    </div><div class="item">
    </div><div class="item">
    </div><div class="item">
    </div><div class="item">
    </div><div class="item">
    </div><div class="item">
    </div><div class="item">
    </div><div class="item">
    </div>
  </div>
</div>

