    <div class="text-center">
  <!--     <h1 class="calendar-header">
        SCHEDULING
      </h1> -->
    </div>
    <div class="shift-form top-wrapper my-1">
      <%= simple_form_for [@shift] do |f| %>
      <%= f.input :start_time, as: 'string', input_html: {class: 'picker'}, placeholder: 'Start-Time', label: false%>
      <%= f.input :end_time, as: 'string', input_html: {class: 'picker'}, placeholder: 'End-Time', label: false%>
      <%= f.input :department_id, collection: Department.all, selected: 1, label: false%>
      <%= f.submit "ADD SHIFT", class: "btn-v1" %>
      <% end %>
    </div>


  <div class="calendar-overview">
    <%= render partial: "calendar_overview" %>
  </div>
<div class="row">
  <div class="col-10">
    <div class="bottom-box">

    </div>
  </div>
</div>
