<div class="content-container">
  <div class="shift-wrapper">
    <%= simple_form_for [@shift] do |f| %>
    <div class="d-flex align-items-center">
      <div class="input-field">
        <%= f.input :start_time, as: 'string', input_html: {class: 'picker'}%>
      </div>
      <div class="input-field">
        <%= f.input :end_time, as: 'string', input_html: {class: 'picker'} %>
      </div>
      <div class="input-field">
        <%= f.input :department_id, collection: Department.all, selected: 1 %>
      </div>
      <%#= f.input :user, as: :radio_buttons, collection:  %>

      <%#= f.input :skill, as: :check_boxes, collection: User::SKILL, wrapper: :vertical_collection_inline %>
      <%= f.submit "ADD SHIFT", class: "btn-v1" %>
    </div>
    <% end %>
  </div>

<div class="scroll">
  <div class="planner-wrapper">
    <table style="width:1000px">
      <tr>
        <th><h2>TIME</h2></th>
        <% @departments.each do |department| %>
        <th><h2><%= department.name %></h2></th>
        <% end %>
      </tr>
    </table>
  </div>


     <table>
       <div class="">
        <% @hours.each do |time| %>
        <tr><p><%= time %></p></tr>
        <% end %>
        </div>
    </table>

</div>
