<div class="form-page container">
<%= simple_form_for @shift, html: {method: :patch}  do |f| %>
  <div class="form-block">
    <div class="block-header">
      <h2>Update <%= @shift.department.name %> shift</h2>
    </div>
    <div class="d-flex">
      <div class="inside-block ">
        <div class="">
          <span class="labeltext" ><%= f.input :start_time, as: 'string', input_html: {class: 'picker', style:'width: 400px'}%></span>
          <span class="labeltext" ><%= f.input :end_time, as: 'string', input_html: {class: 'picker', style:'width: 400px'} %></span>
        </div>
        <div class="d-flex">
          <span class="labeltext" ><%= f.input :skills, as: :check_boxes, collection: @all_users_skills_checkbox, wrapper: :vertical_collection_inline %>
        </div>
        <%= f.submit "update shift", class: "btn-v1" %></span>
        <%= link_to "delete", shift_path(@shift), class: "btn-v1",
              method: :delete,
              data: { confirm: "Are you sure?"} %>
      </div>
      <div class="user-select makeitblue">
        <h6>Assign Employee</h6>
        <%= f.association :user, label_method: :first_name, collection: @users, label: false, input_html: { style:'width: 300px'}%>
        <%= f.submit "assign employee", class: "btn-v1" %></span>
      </div>
  </div>
<% end %>
</div>


<div class="shift-employees d-flex justify-content-between">

  <div class="employees-department">
    <h1>Employees with matching department:</h1>
    <% @employees_department.each do |employee| %>
      <div class="card-product">
        <div class="left-box" style = "background-color: <%= employee.departments[0].color %>">
          <%=(cl_image_tag employee.photo, height: 60, width: 60, crop: :fill, background: "#{employee.departments[0].color}" , radius: :max, border: { width: 4, color: "#{employee.departments[0].color}" })%>
        </div>
        <div class="card-product-infos">
          <p><%= employee.first_name %> <%= employee.last_name %></p>
          <div class="d-flex">
            <% if employee.skills != nil %>
              <% employee.skills.each do |skill| %>
                <% if skill != "" %>
                  <span class="btn-v2-se"><%= skill%></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

  <div class="employees-skills">
    <h1>Employees with matching skills:</h1>
    <% if @shift_skills != nil %>
      <% @shift_skills.each do |skill| %>
        <% employees = User.where('skills @> ARRAY[?]::varchar[]', skill) %>
          <% employees.each do |employee| %>
            <%  %>
            <div class="card-product">
              <div class="left-box" style = "background-color: <%= employee.departments[0].color %>">
                <%=(cl_image_tag employee.photo, height: 60, width: 60, crop: :fill, background: "#{employee.departments[0].color}" , radius: :max, border: { width: 4, color: "#{employee.departments[0].color}" })%>
              </div>
              <div class="card-product-infos">
                <p><%= employee.first_name %> <%= employee.last_name %></p>
                <div class="d-flex">
                  <% if employee.skills != nil %>
                    <% employee.skills.each do |skill| %>
                      <% if skill != "" %>
                        <span class="btn-v2-se"><%= skill%></span>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Select shift skills to see more matching employees...</p>
        <% end %>
    </div>
  </div>
</div>

