<div class="dashboard-container">
  <div class="user-avatar">
    <div class="logged-in-user">
      <div class="dropdown">
         <%= cl_image_tag @user.photo, class: "avatar-image", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
         <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
           <%= link_to "Action", "#", class: "dropdown-item" %>
           <%= link_to "Another action", "#", class: "dropdown-item" %>
           <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
         </div>
      </div>
      <p><%= @greet %> <%=@user.first_name %>!</p>
    </div>
  </div>

  <div class="weather">
     <!-- WEATHER APP -->
      <div class="widget">
        <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
        <div class="weatherInfo">
          <div id="temp" class="temperature">9&deg;</div>
          <div id="desc" class="description">
            <div id="city" class="city">New York</div>
            <div id="condition" class="weatherCondition">CLOUDY</div>
          </div>
        </div>
        <div id="date" class="date">Jan 1</div>
      </div>
  </div>

  <div class="today-in">
  <h1 style="padding-left: 14px; margin-bottom: 0px">Who is in today?</h1>
    <div class="employee-status">
        <% Shift.all.each do |shift| %>
          <% if shift.start_time.day == Date.today.day && shift.start_time.month == Date.today.month %>
            <% if shift.user != nil %>
              <div class="card-product">
                <div class="left-box" style = "background-color: <%= shift.user.departments[0].color %>">
                  <% if shift.user.photo.file != nil %>
                    <%=(cl_image_tag shift.user.photo, height: 70, width: 70, crop: :fill, background: "#{shift.user.departments[0].color}", radius: :max, border: { width: 4, color: "#{shift.user.departments[0].color}" })%>
                  <% else %>
                    <%=(cl_image_tag "empty-avatar.png",height: 70, width: 70, crop: :fill, background: "#{shift.user.departments[0].color}", radius: :max, border: { width: 4, color: "#{shift.user.departments[0].color}" })%>
                  <% end %>
                </div>
                <div class="card-product-infos">
                  <p> <%= shift.user.first_name%> <%= shift.user.last_name%></p>
                 <span style="font-weight: lighter; font-size: 14px"><%= shift.start_time.strftime('%H:%M')%> - <%= shift.end_time.strftime('%H:%M')%></span>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>



  <div class="notification">
    <div class="notes">
      <h2>NOTIFICATIONS</h2>
      <p><%=@unassigned_shifts.count%> unassigned Shifts:</p>
      <% @unassigned_shifts.each do |shift| %>
      <ul>
        <li>
          <%= link_to "#{shift.start_time.strftime('%b %d.')} #{shift.start_time.strftime('%H:%M')} - #{shift.end_time.strftime('%H:%M')} (#{shift.department.name})", edit_shift_path(shift) %>
        </li>
      </ul>
    <% end %>
    </div>
  </div>


</div>
